<h1>Stimulus Reflex Life Cycle Practice. </h1>

<div data-controller="example">
  <a href="#" data-reflex="click->Example#masticate" data-count="0">Eat</a><br><br>
  <a href="#" data-reflex="click->Example#defecate">Poop</a>
</div>

