<h1>This is The Show Page For Selector Morph Example.</h1>
<hr />
<div data-reflex="click->Example#test">
    <%= render partial: "foo", locals: { message: "This is the origin content with partial rendering." } %>
</div>
