<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Enter Your Name</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Enter Your Name " data-student-target="name">
</div>
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Enter Your Email</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Enter Your Name " data-student-target="email">
</div>
<div class="mb-3">
  <button class="btn btn-primary" data-action="click->student#create">Submit</button>
</div>
