<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Enter Your Name</label>
  <input type="email" value="<%= student.name %>" class="form-control" id="exampleFormControlInput1" placeholder="Enter Your Name " data-student-target="edit_name">
</div>
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Enter Your Email</label>
  <input type="email" value="<%= student.email %>" class="form-control" id="exampleFormControlInput2" placeholder="Enter Your Name " data-student-target="edit_email">
</div>
<div class="mb-3">
  <button class="btn btn-primary" data-action="click->student#update" data-reflex_id="<%= student.id %>">Update</button>
</div>
